<a href="https://colab.research.google.com/github/Igor-R-Amorim/Soulcode-Academy/blob/main/Projeto%20Individual/Projeto_individual_1_Igor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notebook: Igor Rocha Amorim

**Projeto Individual: Marketing_campaign**

# üìó Diretrizes do Projeto:



Nivel Infra

- O Dataset deve ser salvo em ambiente cloud(Cloud Storage)
- O arquivo original e tratado deve ser salvo em MongoDB Atlas em cole√ß√µes diferentes
- O Dataset devem ser obrigatoriamente salvos em uma bucket do CloudStorage

Nivel Pandas
- O arquivo est√° em outra linguagem e deve ter seus dados traduzidos para Portugu√™s-BR
- Realizar a extra√ß√£o corretamente para um dataframe
- Verificar a exist√™ncia de dados inconsistentes e realizar a limpeza para NaN ou NA explicando o porque da decis√£o
- Realizar o drop(se necess√°rio) de colunas do dataframe realizando o coment√°rio do porque da exclus√£o

Nivel PySpark 

- Dever√° ser montada a estrutura do DataFrame utilizando o StructType.
- Verificar a exist√™ncia de dados inconsistentes, nulos e realizar a limpeza.
- Verificar a necessidade de drop em colunas ou linhas. Caso seja necess√°rio, fazer coment√°rio do porque.
- Realizar a mudan√ßa de nome de pelo menos 2 colunas
- Dever√° criar pelo menos duas novas colunas contendo alguma informa√ß√£o relevante sobre as outras colunas j√° existentes (Fun√ß√µes de Agrupamento, Agrega√ß√£o ou Joins). (Use a sua capacidade anal√≠tica)
- Dever√° utilizar filtros, ordena√ß√£o e agrupamento, trazendo dados relevantes para o neg√≥cio em quest√£o. (Use a sua capacidade anal√≠tica)
- Utilizar pelo menos duas Window Functions

# ‚öí Instalando e Importando as Bibliotecas

In [ ]:
!pip install fsspec==0.7.4
!pip install conda
!pip install gcsfs
!pip install pyspark
!pip install pandera
!pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fsspec==0.7.4
  Downloading fsspec-0.7.4-py3-none-any.whl (75 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 75 kB 3.1 MB/s
Installing collected packages: fsspec
  Attempting uninstall: fsspec
    Found existing installation: fsspec 2022.7.1
    Uninstalling fsspec-2022.7.1:
      Successfully uninstalled fsspec-2022.7.1
Successfully installed fsspec-0.7.4
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting conda
  Downloading conda-4.3.16.tar.gz (299 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 299 kB 10.3 MB/s
Collecting pycosat>=0.6.1
  Downloading pycosat-0.6.3.zip (66 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 66 kB 4.8 MB/s
Requirement already satisfied: requests>=2.12.4 in /usr/local/lib/python3.7/dist-packages (from conda) (2.23.0)
Collecting ruamel.yaml>=0.11.14
  Downloading ruamel.yaml-0.17.21-py3-none-any.whl (109 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 109 kB 28.2 MB/s
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.12.4->conda) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.12.4->conda) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.12.4->conda) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.12.4->conda) (2022.6.15)
Collecting ruamel.yaml.clib>=0.2.6
  Downloading ruamel.yaml.clib-0.2.6-cp37-cp37m-manylinux1_x86_64.whl (546 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 546 kB 40.0 MB/s
Building wheels for collected packages: conda, pycosat
  Building wheel for conda (setup.py) ... done
  Created wheel for conda: filename=conda-4.3.16-py3-none-any.whl size=336960 sha256=c86cc1c11220877d9601c1d899150cb55277263a3ab538d317c3ec5ac568efdc
  Stored in directory: /root/.cache/pip/wheels/66/ec/2c/cce33d7a071720882d948fd3364d3ff5562bac9e5638768d41
  Building wheel for pycosat (setup.py) ... done
  Created wheel for pycosat: filename=pycosat-0.6.3-cp37-cp37m-linux_x86_64.whl size=143848 sha256=ae73c9be2b158a7b371b0448637f74872653b8f234b6169cbed919b18a82757e
  Stored in directory: /root/.cache/pip/wheels/c8/29/0e/a226b7c5a4f24e246f25201c0b1fbf6fb8f19f9cce89b02c36
Successfully built conda pycosat
Installing collected packages: ruamel.yaml.clib, ruamel.yaml, pycosat, conda
Successfully installed conda-4.3.16 pycosat-0.6.3 ruamel.yaml-0.17.21 ruamel.yaml.clib-0.2.6
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gcsfs
  Downloading gcsfs-2022.8.2-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (3.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Collecting fsspec==2022.8.2
  Downloading fsspec-2022.8.2-py3-none-any.whl (140 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 140 kB 19.3 MB/s
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (22.1.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (4.0.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (6.0.2)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (4.1.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.3.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.8.1)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (0.13.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (2.1.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.9)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2022.6.15)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.31.6)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.56.4)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2022.2.1)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.3)
Requirement already satisfied: protobuf<4.0.0dev,>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.0.9)
Installing collected packages: fsspec, gcsfs
  Attempting uninstall: fsspec
    Found existing installation: fsspec 0.7.4
    Uninstalling fsspec-0.7.4:
      Successfully uninstalled fsspec-0.7.4
Successfully installed fsspec-2022.8.2 gcsfs-2022.8.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 281.3 MB 42 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 199 kB 52.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=16e3635dbd7e725fb334b521d330fcbd3d7a3fd1e2e6e82488258d0fd51f6318
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandera
  Downloading pandera-0.9.0-py3-none-any.whl (197 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 197 kB 15.0 MB/s
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.6)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.8.0-py3-none-any.whl (8.7 kB)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (4.1.1)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (6.0.1)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from pandera) (1.9.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pandera
Successfully installed mypy-extensions-0.4.3 pandera-0.9.0 typing-inspect-0.8.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.2.0)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 269 kB 14.6 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [ ]:
#BIBLIOTECAS NECESS√ÅRIAS PARA ACESSO AO MongoDB
import pymongo
from pymongo import MongoClient
from pyspark import SparkContext

#BIBLIOTECAS NECESS√ÅRIAS PARA MANIPULA√á√ÉO DO PANDAS 
import pandas as pd
import pandera as pa
import numpy as np

#BIBLIOTECAS NECESS√ÅRIAS PARA MANIPULA√á√ÉO DO PYSPARK
from pyspark.sql import SparkSession
from pyspark import SparkConf
from pyspark.sql import SQLContext
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window

#IMPORTAR BIBLIOTECAS DO CLOUD STORAGE
from google.cloud import storage
import os

## ‚öô Configura√ß√µes e Conectores

In [ ]:
# INTEGRANDO O GOOGLE COLAB AO GOOGLE DRIVE
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# AUMENTANDO A QUANTIDADE MAXIMA DE COLUNAS A SEREM VISUALIZADAS POR EXIBI√á√ÉO (display())
pd.set_option('display.max_columns',100)

In [ ]:
# CONFIGURA√á√ÉO DA CHAVE DE SEGURAN√áA
serviceAccount = '/content/drive/MyDrive/Acess_Key/e0ec6f19ed5fd1283440290789ff82a5aa62386f.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [ ]:
# C√ìDIGOS DE ACESSO A BUCKET PARA CRIAR UM DATAFRAME A PARTIR DO DATASET
client = storage.Client()

# CRIAR UMA VARI√ÅVEL PARA RECEBER O NOME DA BUCKET
bucket = client.get_bucket('bc23-aula-igor-bucket')

# ESCOLHER O ARQUIVO DENTRO DA BUCKET
bucket.blob('marketing_campaign_csv.csv')

# CRIAR UMA VARI√ÅVEL QUE VAI RECEBER O CAMINHO DO ARQUIVO
path = 'gs://bc23-aula-igor-bucket/Projeto-Individual/marketing_campaign_csv.csv'

In [ ]:
# CONECTOR MONGO
client = pymongo.MongoClient(r'mongodb+srv://soulcode:a1b2c3@igordb-bc23-soulcode.ovdcyab.mongodb.net/?retryWrites=true&w=majority')

In [ ]:
# SELE√á√ÉO DA BASE DE DADOS E DA COLE√á√ÉO
db = client['PROJETO-FINAL']
colecao = db.DATA_RAW
colecao.count_documents({})

0

In [ ]:
''' 
CERTIFICAR QUE A COLE√á√ÉO EST√Å VAZIA PARA RECEBER OS 
DADOS CRU EM CASO DE REPETIR O CODIGO DO COME√áO, USE APENAS CASO
A COLE√á√ÉO EXIBIDA NA LINHA ANTERIR ESTEJA POPULADA
AFIM DE NAO DUPLICAR OS DADOS.
'''

colecao.drop()

In [ ]:
# Parar a spark session
# spark.stop()

In [ ]:
# CONFIGURA√á√ÉO DE INICIALIZA√á√ÉO DA SPARK SESSION 
spark = (
    SparkSession.builder
                .master('local')
                .appName('spark-gcs-mongo')
                .config('spark.ui.port', '4050')
                .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
                .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.11:2.3.2')
                .config("spark.mongodb.input.readPreference.name", "secondaryPreferred")
                .config("spark.mongodb.input.uri", "mongodb://ac-ihdjbkt-shard-00-02.ovdcyab.mongodb.net:27017/PROJETO-FINAL.DATA_RAW")
                .config("spark.mongodb.output.uri", "mongodb://ac-ihdjbkt-shard-00-02.ovdcyab.mongodb.net:27017/PROJETO-FINAL.DATA_RAW")
                .getOrCreate()
)

In [ ]:
spark

# üîΩ Extra√ß√£o de dados E do ETL

O csv tr√°s para a gente a coluna DT_Costumer como object, pois seu formato de data esta como dia, mes, ano o qual √© diferente do tipo datetime reconhecido como data para o computador, sendo assim, optei por dar um parse j√° no carregamento do csv ao inves de trata-la na etapa de Transforma√ß√£o.

In [ ]:
# Lendo o csv pelo pandas e criando o DataFrame (DF)
df = pd.read_csv(path,parse_dates=['Dt_Customer'],dayfirst=True)

In [ ]:
# Descrever o DF 
# Para arquivos muito grandes na ordem de GB+ use:df.shape

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   datetime64[ns]
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(25), object(2)
memory usage: 507.6+ KB

In [ ]:
'''
Insere o novo DF (nomeado de df_dict) formado por uma lista onde 
cada "dicionario" √© um documento para o DB.

O par√¢metros ‚Äòrecords‚Äô : retorna uma lista assim:
[{column -> value}, ‚Ä¶ , {column -> value}]
'''

df_dict = df.to_dict("records")
colecao.insert_many(df_dict)

# A inser√ß√£o √© feita para aumentar a disponibilidade dos dados al√©m do Bucket.

In [ ]:
# Conformando a quantidade de documentos Inseridos no DataBase (DB)
colecao.count_documents({})

6720

In [ ]:
# Verificando o que e como foi inserido no BD
for x in colecao.find()[:10]:
  print(x)
print("")
colecao.count_documents({})

{'_id': ObjectId('6310ed78d4a606dfeb260efe'), 'ID': 5524, 'Year_Birth': 1957, 'Education': 'Graduation', 'Marital_Status': 'Single', 'Income': 58138.0, 'Kidhome': 0, 'Teenhome': 0, 'Dt_Customer': datetime.datetime(2012, 9, 4, 0, 0), 'Recency': 58, 'MntWines': 635, 'MntFruits': 88, 'MntMeatProducts': 546, 'MntFishProducts': 172, 'MntSweetProducts': 88, 'MntGoldProds': 88, 'NumDealsPurchases': 3, 'NumWebPurchases': 8, 'NumCatalogPurchases': 10, 'NumStorePurchases': 4, 'NumWebVisitsMonth': 7, 'AcceptedCmp3': 0, 'AcceptedCmp4': 0, 'AcceptedCmp5': 0, 'AcceptedCmp1': 0, 'AcceptedCmp2': 0, 'Complain': 0, 'Z_CostContact': 3, 'Z_Revenue': 11, 'Response': 1}
{'_id': ObjectId('6310ed78d4a606dfeb260eff'), 'ID': 2174, 'Year_Birth': 1954, 'Education': 'Graduation', 'Marital_Status': 'Single', 'Income': 46344.0, 'Kidhome': 1, 'Teenhome': 1, 'Dt_Customer': datetime.datetime(2014, 3, 8, 0, 0), 'Recency': 38, 'MntWines': 11, 'MntFruits': 1, 'MntMeatProducts': 6, 'MntFishProducts': 2, 'MntSweetProducts': 1, 'MntGoldProds': 6, 'NumDealsPurchases': 2, 'NumWebPurchases': 1, 'NumCatalogPurchases': 1, 'NumStorePurchases': 2, 'NumWebVisitsMonth': 5, 'AcceptedCmp3': 0, 'AcceptedCmp4': 0, 'AcceptedCmp5': 0, 'AcceptedCmp1': 0, 'AcceptedCmp2': 0, 'Complain': 0, 'Z_CostContact': 3, 'Z_Revenue': 11, 'Response': 0}
{'_id': ObjectId('6310ed78d4a606dfeb260f00'), 'ID': 4141, 'Year_Birth': 1965, 'Education': 'Graduation', 'Marital_Status': 'Together', 'Income': 71613.0, 'Kidhome': 0, 'Teenhome': 0, 'Dt_Customer': datetime.datetime(2013, 8, 21, 0, 0), 'Recency': 26, 'MntWines': 426, 'MntFruits': 49, 'MntMeatProducts': 127, 'MntFishProducts': 111, 'MntSweetProducts': 21, 'MntGoldProds': 42, 'NumDealsPurchases': 1, 'NumWebPurchases': 8, 'NumCatalogPurchases': 2, 'NumStorePurchases': 10, 'NumWebVisitsMonth': 4, 'AcceptedCmp3': 0, 'AcceptedCmp4': 0, 'AcceptedCmp5': 0, 'AcceptedCmp1': 0, 'AcceptedCmp2': 0, 'Complain': 0, 'Z_CostContact': 3, 'Z_Revenue': 11, 'Response': 0}
{'_id': ObjectId('6310ed78d4a606dfeb260f01'), 'ID': 6182, 'Year_Birth': 1984, 'Education': 'Graduation', 'Marital_Status': 'Together', 'Income': 26646.0, 'Kidhome': 1, 'Teenhome': 0, 'Dt_Customer': datetime.datetime(2014, 2, 10, 0, 0), 'Recency': 26, 'MntWines': 11, 'MntFruits': 4, 'MntMeatProducts': 20, 'MntFishProducts': 10, 'MntSweetProducts': 3, 'MntGoldProds': 5, 'NumDealsPurchases': 2, 'NumWebPurchases': 2, 'NumCatalogPurchases': 0, 'NumStorePurchases': 4, 'NumWebVisitsMonth': 6, 'AcceptedCmp3': 0, 'AcceptedCmp4': 0, 'AcceptedCmp5': 0, 'AcceptedCmp1': 0, 'AcceptedCmp2': 0, 'Complain': 0, 'Z_CostContact': 3, 'Z_Revenue': 11, 'Response': 0}
{'_id': ObjectId('6310ed78d4a606dfeb260f02'), 'ID': 5324, 'Year_Birth': 1981, 'Education': 'PhD', 'Marital_Status': 'Married', 'Income': 58293.0, 'Kidhome': 1, 'Teenhome': 0, 'Dt_Customer': datetime.datetime(2014, 1, 19, 0, 0), 'Recency': 94, 'MntWines': 173, 'MntFruits': 43, 'MntMeatProducts': 118, 'MntFishProducts': 46, 'MntSweetProducts': 27, 'MntGoldProds': 15, 'NumDealsPurchases': 5, 'NumWebPurchases': 5, 'NumCatalogPurchases': 3, 'NumStorePurchases': 6, 'NumWebVisitsMonth': 5, 'AcceptedCmp3': 0, 'AcceptedCmp4': 0, 'AcceptedCmp5': 0, 'AcceptedCmp1': 0, 'AcceptedCmp2': 0, 'Complain': 0, 'Z_CostContact': 3, 'Z_Revenue': 11, 'Response': 0}
{'_id': ObjectId('6310ed78d4a606dfeb260f03'), 'ID': 7446, 'Year_Birth': 1967, 'Education': 'Master', 'Marital_Status': 'Together', 'Income': 62513.0, 'Kidhome': 0, 'Teenhome': 1, 'Dt_Customer': datetime.datetime(2013, 9, 9, 0, 0), 'Recency': 16, 'MntWines': 520, 'MntFruits': 42, 'MntMeatProducts': 98, 'MntFishProducts': 0, 'MntSweetProducts': 42, 'MntGoldProds': 14, 'NumDealsPurchases': 2, 'NumWebPurchases': 6, 'NumCatalogPurchases': 4, 'NumStorePurchases': 10, 'NumWebVisitsMonth': 6, 'AcceptedCmp3': 0, 'AcceptedCmp4': 0, 'AcceptedCmp5': 0, 'AcceptedCmp1': 0, 'AcceptedCmp2': 0, 'Complain': 0, 'Z_CostContact': 3, 'Z_Revenue': 11, 'Response': 0}
{'_id': ObjectId('6310ed78d4a606dfeb260f04'), 'ID': 965, 'Year_Birth': 1971, 'Education': 'Graduation', 'Marital_Status': 'Divorced', 'Income': 55635.0, 'Kidhome': 0, 'Teenhome': 1, 'Dt_Customer': datetime.datetime(2012, 11, 13, 0, 0), 'Recency': 34, 'MntWines': 235, 'MntFruits': 65, 'MntMeatProducts': 164, 'MntFishProducts': 50, 'MntSweetProducts': 49, 'MntGoldProds': 27, 'NumDealsPurchases': 4, 'NumWebPurchases': 7, 'NumCatalogPurchases': 3, 'NumStorePurchases': 7, 'NumWebVisitsMonth': 6, 'AcceptedCmp3': 0, 'AcceptedCmp4': 0, 'AcceptedCmp5': 0, 'AcceptedCmp1': 0, 'AcceptedCmp2': 0, 'Complain': 0, 'Z_CostContact': 3, 'Z_Revenue': 11, 'Response': 0}
{'_id': ObjectId('6310ed78d4a606dfeb260f05'), 'ID': 6177, 'Year_Birth': 1985, 'Education': 'PhD', 'Marital_Status': 'Married', 'Income': 33454.0, 'Kidhome': 1, 'Teenhome': 0, 'Dt_Customer': datetime.datetime(2013, 5, 8, 0, 0), 'Recency': 32, 'MntWines': 76, 'MntFruits': 10, 'MntMeatProducts': 56, 'MntFishProducts': 3, 'MntSweetProducts': 1, 'MntGoldProds': 23, 'NumDealsPurchases': 2, 'NumWebPurchases': 4, 'NumCatalogPurchases': 0, 'NumStorePurchases': 4, 'NumWebVisitsMonth': 8, 'AcceptedCmp3': 0, 'AcceptedCmp4': 0, 'AcceptedCmp5': 0, 'AcceptedCmp1': 0, 'AcceptedCmp2': 0, 'Complain': 0, 'Z_CostContact': 3, 'Z_Revenue': 11, 'Response': 0}
{'_id': ObjectId('6310ed78d4a606dfeb260f06'), 'ID': 4855, 'Year_Birth': 1974, 'Education': 'PhD', 'Marital_Status': 'Together', 'Income': 30351.0, 'Kidhome': 1, 'Teenhome': 0, 'Dt_Customer': datetime.datetime(2013, 6, 6, 0, 0), 'Recency': 19, 'MntWines': 14, 'MntFruits': 0, 'MntMeatProducts': 24, 'MntFishProducts': 3, 'MntSweetProducts': 3, 'MntGoldProds': 2, 'NumDealsPurchases': 1, 'NumWebPurchases': 3, 'NumCatalogPurchases': 0, 'NumStorePurchases': 2, 'NumWebVisitsMonth': 9, 'AcceptedCmp3': 0, 'AcceptedCmp4': 0, 'AcceptedCmp5': 0, 'AcceptedCmp1': 0, 'AcceptedCmp2': 0, 'Complain': 0, 'Z_CostContact': 3, 'Z_Revenue': 11, 'Response': 1}
{'_id': ObjectId('6310ed78d4a606dfeb260f07'), 'ID': 5899, 'Year_Birth': 1950, 'Education': 'PhD', 'Marital_Status': 'Together', 'Income': 5648.0, 'Kidhome': 1, 'Teenhome': 1, 'Dt_Customer': datetime.datetime(2014, 3, 13, 0, 0), 'Recency': 68, 'MntWines': 28, 'MntFruits': 0, 'MntMeatProducts': 6, 'MntFishProducts': 1, 'MntSweetProducts': 1, 'MntGoldProds': 13, 'NumDealsPurchases': 1, 'NumWebPurchases': 1, 'NumCatalogPurchases': 0, 'NumStorePurchases': 0, 'NumWebVisitsMonth': 20, 'AcceptedCmp3': 1, 'AcceptedCmp4': 0, 'AcceptedCmp5': 0, 'AcceptedCmp1': 0, 'AcceptedCmp2': 0, 'Complain': 0, 'Z_CostContact': 3, 'Z_Revenue': 11, 'Response': 0}

6720

# ‚è© Transforma√ß√£o T do ETL

In [ ]:
# Criando backup do DF em tempo de memoria para retorno em caso de opera√ß√£o 
# mal sucedida

df_bkp = df.copy()

In [ ]:
# restaurando o BKP

df = df_bkp.copy()

## Pr√©-Tratamento

In [ ]:
# Podemos observar que a coluna de 'Income' apresenta alguns valores em vazio
# diferente do restante das colunas
df.info()

In [ ]:
#Id √© forte candidato a r√≥tulo dos dados

df.ID.is_unique

In [ ]:
df.Year_Birth.is_unique

In [ ]:
df.Income.is_unique

In [ ]:
df.Dt_Customer.is_unique

In [ ]:
df.Recency.is_unique

In [ ]:
# Muitas Colunas est√£o no formato de int64, portanto acredito que uma 
# forma rapida de avaliar os dados seja avaliando os dados estatisticos atrav√©s
# do .describe()  

df.describe()

**ID**: 
> -Todas as 2240 linhas preenchidas.

> -Valores variando de 0 a 11191, aparentemente o ID nao √© incrementado de 1 em 1 para ter essa dimens√£o t√£o maior que o numero de linhas do DF.

> -N√£o consigo inferir nada a partir do desvio padr√£o ou da m√©dia.


**Year_Birh**: 
> -Todas as 2240 linhas preenchidas.

> -Valores variando de 1893 a 1996 n√£o indicando numero fora do formato esperado, apesar da diferen√ßa de mais de 100 anos entre as datas minimas e maximas, necessario analisar a relevancia de acordo com o contexto junto ao resto das colunas.

> -Desvio padr√£o pequeno e m√©dia em 1968.


**Income**: 
> -Algumas linhas n√£o preenchidas.

> -Valores variando de 1730 a 666666, Enorme discrepancia e valores improvaveis para uma renda anual.

> -O desvio padr√£o confirma a discrepancia, principalmente usando a m√©dia como referencia.


**Kid home e teen home**: 
> -Todas as 2240 linhas preenchidas.

> -Ambos os valores variando de 0 a 2, n√£o indicando numero fora do formato esperado.

> -M√©dia e desvio padr√£o similares e compativeis.


**Recency**: 
> -Todas as 2240 linhas preenchidas.

> -Valores variando de 0 a 99, n√£o indicando numero fora do formato esperado.

> -M√©dia e desvio padr√£o compativel.


**MntWines	MntFruits	MntMeatProducts	MntFishProducts	MntSweetProducts	MntGoldProds**: 
> -Todas as 2240 linhas preenchidas em todos os atributos.

> -Valores de minimo e maximo variados, mas aparentemente n√£o indica numero fora do formato esperado apesar dos numeros altos da quantidade de vinhos e carnes.

> -M√©dia e desvio padr√£o compativel.

**NumDealsPurchases	NumWebPurchases	NumCatalogPurchases	NumStorePurchases NumWebVisitsMonth**:
> -Todas as 2240 linhas preenchidas em todos os atributos.

> -Valores de minimo e maximo variados, mas aparentemente n√£o indica numero fora do formato esperado.

> -M√©dia e desvio padr√£o compativel.

**AcceptedCmp1	AcceptedCmp2  AcceptedCmp3	AcceptedCmp4	AcceptedCmp5 Complain Response**:
> -Todas as 2240 linhas preenchidas em todos os atributos.

> -Valores de minimo e maximo variando de 0 a 1 em todas as colunas, aparentemente n√£o indica numero fora do formato esperado.

> -M√©dia e desvio padr√£o pequenos, mas compativel.

**Z_CostContact	Z_Revenue**:
> -Todas as 2240 linhas preenchidas em ambos os atributos.

> -Valores de minimo e maximo iguais a 3 e 11 respectivamente, indicando que n√£o h√° varia√ß√£o de numero dentro da coluna.

> -M√©dia igual ao proprio numero e desvio padr√£o igual a zero, comprovam a n√£o varia√ß√£o dos numeros.

In [ ]:
df.head(2)

In [ ]:
# Traduzindo e visualizando as colunas
df.rename(columns={'ID':'Id',
                   'Year_Birth':'AnoDeNascimento',
                   'Education':'Educacao',
                   'Marital_Status':'EstadoCivil',
                   'Income':'Renda',
                   'Kidhome':'FilhosPequenos',
                   'Teenhome':'Adolecentes',
                   'Dt_Customer':'DataCadastro',
                   'Recency':'VacanciaEmDias',
                   'MntWines':'QtdVinhos', 
                   'MntFruits':'QtdFrutas',
                   'MntMeatProducts':'QtdProteinaAnimal',
                   'MntFishProducts':'QtdPeixes',
                   'MntSweetProducts':'QtdDoces',
                   'MntGoldProds':'QtdProdOuro',
                   'NumDealsPurchases':'ComprasComDesconto',
                   'NumWebPurchases':'ComprasPelaWeb',
                   'NumCatalogPurchases':'ComprasPeloCatalogo',
                   'NumStorePurchases':'ComprasPelaLoja',
                   'NumWebPurchases':'ComprasPelaNet',
                   'NumWebVisitsMonth':'VisitasWebPorMes',
                   'Complain':'HouveReclamacao',
                   'AcceptedCmp1':'AceitacaoCampanha1',
                   'AcceptedCmp2':'AceitacaoCampanha2',
                   'AcceptedCmp3':'AceitacaoCampanha3',
                   'AcceptedCmp4':'AceitacaoCampanha4',
                   'AcceptedCmp5':'AceitacaoCampanha5',
                   'Response':'UltimaCampanha',
                   'Z_Revenue':'Receita_Z',
                   'Z_CostContact':'CustoDeContato_Z'
                   }
          )

In [ ]:
# Renomeando as Colunas
'''
Optei por nao usar acentos e caracteres especiais para facilitar a 
migra√ß√£o de dados entre Banco de Dados, Programas e plataformas'''

df.rename(columns={'ID':'Id',
                   'Year_Birth':'AnoDeNascimento',
                   'Education':'Educacao',
                   'Marital_Status':'EstadoCivil',
                   'Income':'Renda',
                   'Kidhome':'FilhosPequenos',
                   'Teenhome':'Adolecentes',
                   'Dt_Customer':'DataCadastro',
                   'Recency':'VacanciaEmDias',
                   'MntWines':'QtdVinhos', 
                   'MntFruits':'QtdFrutas',
                   'MntMeatProducts':'QtdProteinaAnimal',
                   'MntFishProducts':'QtdPeixes',
                   'MntSweetProducts':'QtdDoces',
                   'MntGoldProds':'QtdProdOuro',
                   'NumDealsPurchases':'ComprasComDesconto',
                   'NumCatalogPurchases':'ComprasPeloCatalogo',
                   'NumStorePurchases':'ComprasPelaLoja',
                   'NumWebPurchases':'ComprasPelaWeb',
                   'NumWebVisitsMonth':'VisitasWebPorMes',
                   'Complain':'HouveReclamacao',
                   'AcceptedCmp1':'AceitacaoCampanha1',
                   'AcceptedCmp2':'AceitacaoCampanha2',
                   'AcceptedCmp3':'AceitacaoCampanha3',
                   'AcceptedCmp4':'AceitacaoCampanha4',
                   'AcceptedCmp5':'AceitacaoCampanha5',
                   'Response':'UltimaCampanha',
                   'Z_Revenue':'Receita_Z',
                   'Z_CostContact':'CustoDeContato_Z'
                   },
          inplace=True
          )

A partir das colunas Renomeadas, podemos observar que os registros das colunas de Educa√ß√£o e de Estado Civil encontram-se com seu conte√∫do em ingl√™s.

-------------------------------------------------------------------
- Coluna de Educa√ß√£o

In [ ]:
'Verificando a coluna de educa√ß√£o antes de traduzir seus registros'

pd.unique(df['Educacao'])

NameError: ignored

In [ ]:
# Temos Apenas 5 tipos de registros distintos.  
# A pessoa pode ter concluido o grau de:
# PhD / Mestrado / Especializa√ß√£o / Gradua√ß√£o / Fundamental 

df.Educacao.replace('Graduation', 'Graduacao', inplace=True)
df.Educacao.replace('Master', 'Mestrado', inplace=True)
df.Educacao.replace('Basic', 'Fundamental', inplace=True)
df.Educacao.replace('2n Cycle', 'Especializacao', inplace=True)
#preferi deixar PhD como PhD mesmo que √© uma palavra comum no Brasil


df.Educacao[:20]

In [ ]:
# Verificando as altera√ß√µes
pd.unique(df['Educacao'])

-------------------------------------------------------------------
- Coluna de Estado Civil

In [ ]:
'Verificando a coluna de estado civil antes de traduzir seus registros'

pd.unique(df['EstadoCivil'])

In [ ]:
# Temos Apenas 8 tipos de registros distintos.  
# A pessoa pode estar:
# Solteira / Juntada / Casada / Divorciada / Viuva / Solitaria / Absurd / YOLO

df.EstadoCivil.replace('Single', 'Solteira', inplace=True)
df.EstadoCivil.replace('Together', 'Uniao Estavel', inplace=True)
df.EstadoCivil.replace('Married', 'Casada', inplace=True)
df.EstadoCivil.replace('Divorced', 'Divorciada', inplace=True)
df.EstadoCivil.replace('Widow', 'Viuva', inplace=True)
df.EstadoCivil.replace('Alone', 'Solitaria', inplace=True)
# N√£o vou traduzir os outros por agora, preciso avaliar melhor o contexto  
# de Absurd / YOLO, nos tratamentos seguintes vou tentar pegar o significado
# conforme esse registro se relaciona com as outras colunas.

df.EstadoCivil[:20]

In [ ]:
# Verificando as altera√ß√µes
pd.unique(df['EstadoCivil'])

In [ ]:
df.head(2)

## Limpeza dos Dados

In [ ]:
# Atualizando o backup do DF em tempo de memoria para retorno em caso de 
# opera√ß√£o mal sucedida

df_bkp = df.copy()

In [ ]:
# restaurando o BKP

df = df_bkp.copy()

Para efetuar a limpeza, devemos olhar mais a fundo alguns pontos levantados no describe() e nas tradu√ß√µes.

- Verificar o contexto das pessoas em estado civil **Solitaria, Absurd e YOLO**

- Verificar se os valores de **AcceptedCmp1 AcceptedCmp2 AcceptedCmp3 AcceptedCmp4 AcceptedCmp5 Complain Response** estao variando de 0 a 1 ou se eles s√£o apenas binarios.

- Verificar se realmente os valores de **Z_CostContact e Z_Revenue** s√£o de fato invariantes no DF inteiro.

In [ ]:
'''
Antes de decidir a validade do status YOLO e Absurd vamos relembrar a
quantidade de itens vazios no DF
'''

df.isna().sum()

In [ ]:
'''
Como observado no .describe() o atributo de 'renda' √© o unico com 
registros vazios.
'''

#Localizando onde os registros de Vazio se encontram

filtro1=df.Renda.isna()
df.loc[filtro1]

In [ ]:
'''
Somente a renda est√° em branco e n√£o a linha inteira, portando n√£o √© 
necessario remover nenhuma das linhas onde o dado se encontra. 
'''

df.Renda.nunique()

--------------------------------------------------------------------------
### Verificar o contexto das pessoas em estado civil Solitaria, Absurd e YOLO

In [ ]:
#Localizando onde os registros de YOLO se encontram

filtro1= (df.EstadoCivil == 'YOLO')
df.loc[filtro1]

In [ ]:
# Observando que a unica diferente entre os registros √© a aceita√ß√£o na ultima 
# campanha, o restante das quantidade, data de cadastro, compras, vacancia e 
# ano de nascimento s√£o exatamente iguais
'''
A pessoa possui um consumo de vinho e produtos premium proximo da media, 
mas possui um adolescente em casa. Pela data de nascimento a pessoa j√°
poderia estar legamente casada e/ou divorciada. Portanto nao consigo supor 
se ela √© solteira ou casada e porque tem uma crianca em casa. 

Na duvida √© preferivel eliminar o estado civil dela.
'''
df.EstadoCivil.replace('YOLO',np.NAN,inplace=True)
pd.unique(df['EstadoCivil'])

In [ ]:
#Localizando onde os registros de Absurd se encontram

filtro1= (df.EstadoCivil == 'Absurd')
df.loc[filtro1]

In [ ]:
# Observando que os registros dessa vez aparentam ser diferentes pessoas. mean 303 167 44
'''
Ambas as pessoas n√£o possuem crian√ßas, a pessoa mais nova possui uma ades√£o bem,
maior aos produtos que a mais velha. Ambas tem idade suficiente para estarem 
legalmente ou casadas, ou divorciadas. Portanto devido a falta de correla√ß√£o
entre os outros dados nao posso supor se a pessoa √© solteira ou casada. 

Mais uma vez, na duvida √© preferivel eliminar o estado civil dela.
'''

df.EstadoCivil.replace('Absurd',np.NAN,inplace=True)
pd.unique(df['EstadoCivil'])

In [ ]:
#Por fim procurar saber quantos registro s√£o de 'Solitarios'

df.groupby(['EstadoCivil'],dropna=False).size().sort_values(ascending=False)

In [ ]:
filtro1= (df.EstadoCivil == 'Solitaria')
df.loc[filtro1]

In [ ]:
# Apenas 3 registros como 'Solitarios', por ser uma situa√ß√£o an√°loga a 'Solteiro'
# vou enquandrar esses registros em 'Solteiro'

df.EstadoCivil.replace('Solitaria','Solteira',inplace=True)
pd.unique(df['EstadoCivil'])

--------------------------------------------------------------------------
### Verificar se os valores de **AcceptedCmp1 AcceptedCmp2 AcceptedCmp3 AcceptedCmp4 AcceptedCmp5 Complain Response** estao variando de 0 a 1 ou se eles s√£o apenas binarios.

In [ ]:
display(df['AceitacaoCampanha1'].value_counts(normalize=True).map("{:.2%}".format))
display(df['AceitacaoCampanha2'].value_counts(normalize=True).map("{:.2%}".format))
display(df['AceitacaoCampanha3'].value_counts(normalize=True).map("{:.2%}".format))
display(df['AceitacaoCampanha4'].value_counts(normalize=True).map("{:.2%}".format))
display(df['AceitacaoCampanha5'].value_counts(normalize=True).map("{:.2%}".format))
display(df['HouveReclamacao'].value_counts(normalize=True).map("{:.2%}".format))
display(df['UltimaCampanha'].value_counts(normalize=True).map("{:.2%}".format))

In [ ]:
# Os valores realmente s√£o binarios, o que facilitar√° a analise posteriormente.

--------------------------------------------------------------------------
### Verificar se realmente os valores de Z_CostContact e Z_Revenue s√£o de fato invariantes no DF inteiro.

In [ ]:
sorted(pd.unique(df['CustoDeContato_Z']))

In [ ]:
sorted(pd.unique(df['Receita_Z']))

In [ ]:
'''
Realmente ambos os Valores s√£o invariantes em todo o DF.
Sem contribui√ßoes numericas aos outros dados, pode-se 
excluir a coluna afim de liberar espa√ßo e facilitar a analise
'''

df.drop(['CustoDeContato_Z', 'Receita_Z'], axis=1, inplace=True)
df.head(2)

### Conferindo agora a quantidade atual de registros vazios

In [ ]:
df.isna().sum()

### Valida√ß√£o dos dados

In [ ]:
df.info()

In [ ]:
schema = pa.DataFrameSchema(
    columns= {
        'AnoDeNascimento':pa.Column(pa.Int, nullable=True), #se inserido valor != de inteiro mostra onde est√° o erro
        'Educacao':pa.Column(pa.String, nullable=True), #se inserido valor != de String na coluna mostra erro
        'EstadoCivil':pa.Column(pa.String, nullable=True),
        'Renda':pa.Column(pa.Float, nullable=True),
        'FilhosPequenos':pa.Column(pa.Int, nullable=True),
        'Adolecentes':pa.Column(pa.Int, nullable=True),
        'DataCadastro':pa.Column(pa.DateTime, nullable=True), #verifica as datas se est√° dentro do padr√£o, se estiver != de valores convencionais de data exibe onde esta a diferen√ßa
        'VacanciaEmDias':pa.Column(pa.Int, nullable=True),
        'QtdVinhos':pa.Column(pa.Int, nullable=True),
        'QtdFrutas':pa.Column(pa.Int, nullable=True),
        'QtdProteinaAnimal':pa.Column(pa.Int, nullable=True),
        'QtdPeixes':pa.Column(pa.Int, nullable=True),
        'QtdDoces':pa.Column(pa.Int, nullable=True),
        'QtdProdOuro':pa.Column(pa.Int, nullable=True),
        'ComprasComDesconto':pa.Column(pa.Int, nullable=True),
        'ComprasPeloCatalogo':pa.Column(pa.Int, nullable=True),
        'ComprasPelaLoja':pa.Column(pa.Int, nullable=True),
        'ComprasPelaWeb':pa.Column(pa.Int, nullable=True),
        'VisitasWebPorMes':pa.Column(pa.Int, nullable=True),
        'AceitacaoCampanha1':pa.Column(pa.Int, nullable=True),
        'AceitacaoCampanha2':pa.Column(pa.Int, nullable=True),
        'AceitacaoCampanha3':pa.Column(pa.Int, nullable=True),
        'AceitacaoCampanha4':pa.Column(pa.Int, nullable=True),
        'AceitacaoCampanha5':pa.Column(pa.Int, nullable=True),
        'UltimaCampanha':pa.Column(pa.Int, nullable=True),
        'HouveReclamacao':pa.Column(pa.Int, nullable=True)
        }
)

In [ ]:
schema.validate(df)

## PySpark

In [ ]:
# Vou utilizar o nome 'df' a partir desse ponto como um DF de pyspark, portanto
# vou salvar as modifica√ßoes em 'pandasDF'  
pandasDF = df.copy()

In [ ]:
pandasDF.info()

In [ ]:
# StructType - DEFINE O ESQUEMA PARA O DATAFRAME
esquema = (
    StructType([
        StructField('Id',IntegerType()),
        StructField('AnoDeNascimento',IntegerType()),
        StructField('Escolaridade', StringType()),
        StructField('EstadoCivil', StringType()),
        StructField('RendaPorAno', FloatType()),
        StructField('FilhosPequenos', IntegerType()), 
        StructField('Adolecentes', IntegerType()),
        StructField('DataCadastro', DateType()),
        StructField('VacanciaEmDias', IntegerType()),
        StructField('QtdVinhos', IntegerType()),
        StructField('QtdFrutas', IntegerType()),
        StructField('QtdCarneVermelha', IntegerType()),
        StructField('QtdFrutosDoMar', IntegerType()),
        StructField('QtdDoces', IntegerType()),
        StructField('QtdProdPremium', IntegerType()),
        StructField('ComprasComDesconto', IntegerType()),
        StructField('ComprasPelaWeb', IntegerType()),
        StructField('ComprasPeloCatalogo', IntegerType()),
        StructField('ComprasPelaLoja', IntegerType()),
        StructField('VisitasWebPorMes', IntegerType()),
        StructField('AceitacaoCampanha3', IntegerType()),
        StructField('AceitacaoCampanha4', IntegerType()),
        StructField('AceitacaoCampanha5', IntegerType()),
        StructField('AceitacaoCampanha1', IntegerType()),
        StructField('AceitacaoCampanha2', IntegerType()),
        StructField('HouveReclamacao', IntegerType()),
        StructField('UltimaCampanha', IntegerType())
        ])
)

#Aproveitei a cria√ß√£o do Schema para melhorar a tradu√ß√£o de alguns t√≥picos
# 'Educacao' -> 'Escolaridade'

# 'QtdProteinaAnimal' -> 'QtdCarneVermelha'
# 'QtdPeixe' -> 'QtdFrutosDoMar'
# Visto que proteina animal englobava tudo isso

# 'QtdProdOuro' -> 'QtdProdPremium'


df = spark.createDataFrame(pandasDF,schema=esquema)

df.show(2)
pandasDF.head(2)

In [ ]:
df.printSchema()

### Limpeza dos Dados

In [ ]:
# Atualizando o backup do DF em tempo de memoria para retorno em caso de 
# opera√ß√£o mal sucedida

DFbkp = df

In [ ]:
# restaurando o BKP

df = DFbkp

In [ ]:
#Vis√£o Geral do conte√∫do das Colunas
df.summary().show()

---
#### Como visto no momento da tadu√ß√£o de 'YOLO' existe chance dos dados estarem duplicados, portanto deve-se averiguar

In [ ]:
# como o Id √© o unico atributo sem duplica√ß√£o, vamos dropa-lo para
# nao atrapalhar na compara√ß√£o das demais colunas.

df1 = df.drop('Id')

In [ ]:
# Juntando o DF atual com a contagem das duplicadas
# retornando uma coluna com as linhas em duplicidade

df1 = df1.join(
       df1.groupBy(df1.columns).agg((F.count("*")>1).cast("int").alias("Duplicado")),
       on=df1.columns,
       how="inner"
      )

df1.filter(df1.Duplicado >= 1).show()

NameError: ignored

In [ ]:
#Dropando as duplicadas e a coluna recem criada pelo GroupBy

df1 = df1.drop('Duplicado')
df1 = df1.dropDuplicates()

In [ ]:
# Apontando a quantidade de regristros duplicados que foram deletados
df.count() - df1.count()

---
#### Como visto no Pr√©-Tratamento durante as analises estatisticas, alguns numeros do ano de nascimento dos clientes parecem ser maiores que 100 anos, portanto deve-se averiguar se esses dados n√£o s√£o outliers

In [ ]:
df_Aux = df1.withColumn('Ano', F.substring(F.col('DataCadastro'), 0, 4))
df_Aux = df_Aux.withColumn('Ano', df_Aux.Ano.cast(IntegerType()))
df_Aux = df_Aux.select('*',
                  (df_Aux["Ano"]-df_Aux["AnoDeNascimento"]).
                   alias("diferenca"))

In [ ]:
df_Aux.show(2)

In [ ]:
df_Aux.select(F.col('AnoDeNascimento'), 
              F.col('DataCadastro'), 
              F.col('VacanciaEmDias'), 
              F.col('diferenca')).orderBy(
                                          F.col('diferenca'),
                                          ascending=False).show(10)

In [ ]:
# Temos diferen√ßas entre o ano de nascimento e de cadastro superior a 100 anos
# onde a vacancia √© menor que 100 dias, essas idades s√£o pouco provaveis de 
# serem reais, portanto √© aconcelhavel a dropa-las ao inves de inserir um dado
# duvidoso

df_Aux = df_Aux.filter(df_Aux.diferenca <= 100)

In [ ]:
df_Aux.filter(df_Aux.diferenca >= 100).show()
df_Aux.select(F.col('AnoDeNascimento'), 
              F.col('DataCadastro'), 
              F.col('VacanciaEmDias'), 
              F.col('diferenca')).orderBy(
                                          F.col('diferenca'),
                                          ascending=False).show(10)

In [ ]:
# Para comprar bebidas alcoolicas nos EUA's os clientes precisar ser maior de 
# 21, portanto vamos investigar os cliente com compras de vinho e com diferenca
# entre o cadastro e o ano de nascimento menor que 21.

df_Aux.select(F.col('AnoDeNascimento'), 
              F.col('DataCadastro'),
              F.col('QtdVinhos'),
              F.col('VacanciaEmDias'), 
              F.col('diferenca')).orderBy(
                                          F.col('diferenca'),
                                          ascending=True).show()

In [ ]:
# Para acontecer essa situa√ß√£o, a data de cadastro ou a data de nascimento do 
# cliente esta errada, levando em considera√ß√£o que a data de cadastro √© enviada
# pelo sistema e a data de nascimento √© informada pelo ususario, vou assumir 
# que foi o usuario que informou errado ou foi um erro de digita√ß√£o, portanto
# vou desconsiderar as datas de nascimento nessa situa√ß√£o.

df_Aux = df_Aux.filter((F.col('diferenca') >20) | (F.col('QtdVinhos') < 1))

In [ ]:

df_Aux.select(F.col('AnoDeNascimento'), 
              F.col('DataCadastro'),
              F.col('QtdVinhos'),
              F.col('VacanciaEmDias'), 
              F.col('diferenca')).orderBy(
                                          F.col('diferenca'),
                                          ascending=True).show()

In [ ]:
# Deletar as Colunas Auxiliares criadas no processo
df1 = df_Aux.drop('Ano','diferenca')
df1.show(2)

In [ ]:
# Apontando a quantidade de regristros que foram deletados comparados ao df
# original
df.count() - df1.count()

---
#### Tamb√©m foi visto no Pr√©-Tratamento durante as analises estatisticas, que alguns numeros da renda parecem muito distante da m√©dia, portanto deve-se averiguar se n√£o s√£o outliers

666,666.00 / 12 = 55,555.55 Dolares por mes

In [ ]:
df_Aux = df1

In [ ]:
df_Aux.select(F.col('AnoDeNascimento'), 
              F.col('Escolaridade'),
              F.col('EstadoCivil'),
              F.col('DataCadastro'), 
              F.col('RendaPorAno')).orderBy(
                                          F.col('RendaPorAno'),
                                          ascending=False).show(27)

In [ ]:
# Certamente essa renda de 666,666.00 √© um outlier. 
# foi um erro de digita√ß√£o, valor de renda conjunta visto que o cliente √© juntado
# ou um valor aleatorio inserido pelo cliente, pois o valor est√° muito discrepante 
# do resto das rendas.

#Removendo o dado

df_Aux = df_Aux.filter((F.col('RendaPorAno') != 666666))

In [ ]:
df_Aux.select(F.col('AnoDeNascimento'), 
              F.col('Escolaridade'),
              F.col('EstadoCivil'),
              F.col('DataCadastro'), 
              F.col('RendaPorAno')).orderBy(
                                          F.col('RendaPorAno'),
                                          ascending=False).show(27)

In [ ]:
df1 = df_Aux

In [ ]:
# Apontando a quantidade de regristros que foram deletados comparados ao df
# original
df.count() - df1.count()

### Analise e Explora√ß√£o dos Dados

In [ ]:
df_Aux = df1
df_Aux.show(2)

In [ ]:
# foi identificado durante a passagem do DF Pandas para PySpark
# que como temos carnes e peixes a coluna nao ficaria bem traduzida como
# Proteina Animal, mas se eu juntar o consumo de ambas, eu posso ter uma coluna
# de Proteina Animal.

df_Aux = df_Aux.select('*',
                  (df_Aux["QtdCarneVermelha"]+df_Aux["QtdFrutosDoMar"]).
                   alias("QtdProteinaAnimal"))
df_Aux.show(2)

In [ ]:
# A quantidade de Menores de idade tambem fica chato de olhar ao ver adolecentes
# e criancas pequenas em nichos separados, portanto vamos junta-los em uma 
# categoria unica.

df_Aux = df_Aux.select('*',
                  (df_Aux["FilhosPequenos"]+df_Aux["Adolecentes"]).
                   alias("DependentesMenores"))
df_Aux.show(2)

In [ ]:
# Seria interessante ter uma vis√£o geral das qtd de produtos adiquiridos
# somando todas as categorias.

df_Aux = df_Aux.select('*',
                  (df_Aux["QtdVinhos"]+df_Aux["QtdFrutas"]+df_Aux["QtdProteinaAnimal"]+df_Aux["QtdDoces"]+df_Aux["QtdProdPremium"]).
                   alias("QtdTotalProdutos"))
df_Aux.show(2)

In [ ]:
# Juntar as quantidade de campanha tambem ajuda a Quantificar depois qual 
# perfil de cliente (Idade e Estado Civil) esta mais engajado nas publicidades

df_Aux = df_Aux.select('*',
                  (df_Aux["AceitacaoCampanha1"]+
                   df_Aux["AceitacaoCampanha2"]+
                   df_Aux["AceitacaoCampanha3"]+
                   df_Aux["AceitacaoCampanha4"]+
                   df_Aux["AceitacaoCampanha5"]+ 
                   df_Aux["UltimaCampanha"]
                  ).alias("QtdCampanhasAceitas"))
df_Aux.show(2)

In [ ]:
# Salvando as altera√ßoes no DF tratado
df1 = df_Aux

---
Janelas

In [ ]:
w0 = Window.partitionBy(F.col('QtdCampanhasAceitas')).orderBy('RendaPorAno')
df_Aux = df_Aux.withColumn('Renda/Campanha', F.dense_rank().over(w0))
df_Aux.show(2)

In [ ]:
df_Aux.select(F.col('AnoDeNascimento'), 
              F.col('Escolaridade'),
              F.col('EstadoCivil'),
              F.col('RendaPorAno'),
              F.col('QtdCampanhasAceitas'),
              F.col('Renda/Campanha')).orderBy(
                                          F.col('Renda/Campanha'),
                                          ascending=True).show(30)

As pessoas que mais aceitaram as campanhas s√£o em geral casadas e/ou juntadas em uni√£o estavel, predominantemente graduados, mas nao necessariamente os de maior renda

In [ ]:
w0 = Window.partitionBy(F.col('QtdCampanhasAceitas')).orderBy('DependentesMenores')
df_Aux = df_Aux.withColumn('Campanha/Dependentes', F.dense_rank().over(w0))
df_Aux.show(2)

In [ ]:
df_Aux.select(F.col('AnoDeNascimento'), 
              F.col('DependentesMenores'),
              F.col('EstadoCivil'),
              F.col('RendaPorAno'),
              F.col('QtdCampanhasAceitas'),
              F.col('Campanha/Dependentes')).orderBy(
                                          F.col('Campanha/Dependentes'),
                                          ascending=False).show(30)

As pessoas que possuem mais dependentes s√£o as que aceitam menos as camapnhas

# üîº Carregamento L do ETL

In [ ]:
df1.show(2)

+---------------+------------+-------------+-----------+--------------+-----------+------------+--------------+---------+---------+----------------+--------------+--------+--------------+------------------+--------------+-------------------+---------------+----------------+------------------+------------------+------------------+------------------+------------------+---------------+--------------+-----------------+------------------+----------------+-------------------+
|AnoDeNascimento|Escolaridade|  EstadoCivil|RendaPorAno|FilhosPequenos|Adolecentes|DataCadastro|VacanciaEmDias|QtdVinhos|QtdFrutas|QtdCarneVermelha|QtdFrutosDoMar|QtdDoces|QtdProdPremium|ComprasComDesconto|ComprasPelaWeb|ComprasPeloCatalogo|ComprasPelaLoja|VisitasWebPorMes|AceitacaoCampanha3|AceitacaoCampanha4|AceitacaoCampanha5|AceitacaoCampanha1|AceitacaoCampanha2|HouveReclamacao|UltimaCampanha|QtdProteinaAnimal|DependentesMenores|QtdTotalProdutos|QtdCampanhasAceitas|
+---------------+------------+-------------+-----------+--------------+-----------+------------+--------------+---------+---------+----------------+--------------+--------+--------------+------------------+--------------+-------------------+---------------+----------------+------------------+------------------+------------------+------------------+------------------+---------------+--------------+-----------------+------------------+----------------+-------------------+
|           1977|    Mestrado|Uniao Estavel|    57954.0|             1|          1|  2014-06-18|            52|      456|        4|              24|             0|       0|             9|                 7|             8|                  2|              6|               7|                 0|                 1|                 0|                 0|                 0|              0|             0|               24|                 2|             493|                  1|
|           1945|         PhD|Uniao Estavel|    71604.0|             0|          0|  2013-11-17|             3|      345|       53|             528|            98|      75|            97|                 1|             8|                  3|              5|               4|                 1|                 0|                 0|                 0|                 0|              0|             1|              626|                 0|            1196|                  2|
+---------------+------------+-------------+-----------+--------------+-----------+------------+--------------+---------+---------+----------------+--------------+--------+--------------+------------------+--------------+-------------------+---------------+----------------+------------------+------------------+------------------+------------------+------------------+---------------+--------------+-----------------+------------------+----------------+-------------------+
only showing top 2 rows

In [ ]:
# PROJETO-FINAL.DATA_RAW
spark.save(
  df.write
    .option("spark.mongodb.output.uri", "mongodb://127.0.0.1/PROJETO-FINAL.DATA_RAW")
    .mode("overwrite"))

In [ ]:
df1.write.format("mongodb").mode("append").save()

In [ ]:
df1.write.format("mongo").mode("append").option("database",
"people").option("collection", "contacts").save()

In [ ]:
#Converter o DataFrame do Pyspark para Pandas
df = df1.toPandas()
df[:2]

In [ ]:
df.DataCadastro = pd.to_datetime(df.DataCadastro)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2038 entries, 0 to 2037
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   AnoDeNascimento      2038 non-null   int32
 1   Escolaridade         2038 non-null   object
 2   EstadoCivil          2038 non-null   object
 3   RendaPorAno          2014 non-null   float32
 4   FilhosPequenos       2038 non-null   int32
 5   Adolecentes          2038 non-null   int32
 6   DataCadastro         2038 non-null   datetime64[ns]
 7   VacanciaEmDias       2038 non-null   int32
 8   QtdVinhos            2038 non-null   int32
 9   QtdFrutas            2038 non-null   int32
 10  QtdCarneVermelha     2038 non-null   int32
 11  QtdFrutosDoMar       2038 non-null   int32
 12  QtdDoces             2038 non-null   int32
 13  QtdProdPremium       2038 non-null   int32
 14  ComprasComDesconto   2038 non-null   int32
 15  ComprasPelaWeb       2038 non-null   int32
 16  ComprasPeloCatalogo  2038 non-null   int32
 17  ComprasPelaLoja      2038 non-null   int32
 18  VisitasWebPorMes     2038 non-null   int32
 19  AceitacaoCampanha3   2038 non-null   int32
 20  AceitacaoCampanha4   2038 non-null   int32
 21  AceitacaoCampanha5   2038 non-null   int32
 22  AceitacaoCampanha1   2038 non-null   int32
 23  AceitacaoCampanha2   2038 non-null   int32
 24  HouveReclamacao      2038 non-null   int32
 25  UltimaCampanha       2038 non-null   int32
 26  QtdProteinaAnimal    2038 non-null   int32
 27  DependentesMenores   2038 non-null   int32
 28  QtdTotalProdutos     2038 non-null   int32
 29  QtdCampanhasAceitas  2038 non-null   int32
dtypes: datetime64[ns](1), float32(1), int32(26), object(2)
memory usage: 262.8+ KB

In [ ]:
#Preciso modificar novamente o nome das colunas antes de passar pela valida√ß√£o

schema = pa.DataFrameSchema(
    columns= {
        'AnoDeNascimento':pa.Column(pa.Int32, nullable=True), #se inserido valor != de inteiro mostra onde est√° o erro
        'Escolaridade':pa.Column(pa.String, nullable=True), #se inserido valor != de String na coluna mostra erro
        'EstadoCivil':pa.Column(pa.String, nullable=True),
        'RendaPorAno':pa.Column(pa.Float32, nullable=True),
        'FilhosPequenos':pa.Column(pa.Int32, nullable=True),
        'Adolecentes':pa.Column(pa.Int32, nullable=True),
        'DataCadastro':pa.Column(pa.DateTime, nullable=True), #verifica as datas se est√° dentro do padr√£o, se estiver != de valores convencionais de data exibe onde esta a diferen√ßa
        'VacanciaEmDias':pa.Column(pa.Int32, nullable=True),
        'QtdVinhos':pa.Column(pa.Int32, nullable=True),
        'QtdFrutas':pa.Column(pa.Int32, nullable=True),
        'QtdCarneVermelha':pa.Column(pa.Int32, nullable=True),
        'QtdFrutosDoMar':pa.Column(pa.Int32, nullable=True),
        'QtdDoces':pa.Column(pa.Int32, nullable=True),
        'QtdProdPremium':pa.Column(pa.Int32, nullable=True),
        'ComprasComDesconto':pa.Column(pa.Int32, nullable=True),
        'ComprasPeloCatalogo':pa.Column(pa.Int32, nullable=True),
        'ComprasPelaLoja':pa.Column(pa.Int32, nullable=True),
        'ComprasPelaWeb':pa.Column(pa.Int32, nullable=True),
        'VisitasWebPorMes':pa.Column(pa.Int32, nullable=True),
        'AceitacaoCampanha1':pa.Column(pa.Int32, nullable=True),
        'AceitacaoCampanha2':pa.Column(pa.Int32, nullable=True),
        'AceitacaoCampanha3':pa.Column(pa.Int32, nullable=True),
        'AceitacaoCampanha4':pa.Column(pa.Int32, nullable=True),
        'AceitacaoCampanha5':pa.Column(pa.Int32, nullable=True),
        'UltimaCampanha':pa.Column(pa.Int32, nullable=True),
        'HouveReclamacao':pa.Column(pa.Int32, nullable=True)
        }
)

In [ ]:
# Valida√ß√£o Final antes do carregamento
schema.validate(df)

,AnoDeNascimento,Escolaridade,EstadoCivil,RendaPorAno,FilhosPequenos,Adolecentes,DataCadastro,VacanciaEmDias,QtdVinhos,QtdFrutas,QtdCarneVermelha,QtdFrutosDoMar,QtdDoces,QtdProdPremium,ComprasComDesconto,ComprasPelaWeb,ComprasPeloCatalogo,ComprasPelaLoja,VisitasWebPorMes,AceitacaoCampanha3,AceitacaoCampanha4,AceitacaoCampanha5,AceitacaoCampanha1,AceitacaoCampanha2,HouveReclamacao,UltimaCampanha,QtdProteinaAnimal,DependentesMenores,QtdTotalProdutos,QtdCampanhasAceitas
0,1977,Mestrado,Uniao Estavel,57954.0,1,1,2014-06-18,52,456,4,24,0,0,9,7,8,2,6,7,0,1,0,0,0,0,0,24,2,493,1
1,1945,PhD,Uniao Estavel,71604.0,0,0,2013-11-17,3,345,53,528,98,75,97,1,8,3,5,4,1,0,0,0,0,0,1,626,0,1196,2
2,1973,Graduacao,Divorciada,71128.0,1,0,2012-10-06,80,958,159,447,20,0,31,3,2,10,12,7,0,0,0,0,0,0,0,467,1,1615,0
3,1982,Mestrado,Solteira,75777.0,0,0,2013-07-04,12,712,26,538,69,13,80,1,3,6,11,1,0,1,1,0,0,0,1,607,0,1438,3
4,1982,Graduacao,Uniao Estavel,45203.0,2,0,2014-03-23,4,35,3,67,10,8,24,1,3,1,3,6,0,0,0,0,0,0,1,77,2,147,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033,1975,Graduacao,Divorciada,83829.0,0,0,2013-10-08,78,897,161,430,186,161,27,0,4,7,6,1,1,0,1,1,0,0,1,616,0,1862,4
2034,1955,Graduacao,Casada,65210.0,0,1,2014-03-10,25,626,0,70,0,7,28,2,9,3,8,6,0,1,0,1,0,0,0,70,1,731,2
2035,1947,Graduacao,Uniao Estavel,70321.0,0,0,2013-01-16,6,303,23,751,82,26,191,1,6,5,13,4,0,0,0,0,0,0,1,833,0,1376,1
2036,1953,PhD,Solteira,46231.0,2,1,2012-11-26,87,189,2,55,0,5,12,4,6,1,4,9,0,0,0,0,0,0,0,55,3,263,0
2037,1973,Graduacao,Casada,34961.0,1,0,2014-06-19,77,45,2,26,4,1,1,3,3,1,3,7,0,0,0,0,0,0,0,30,1,79,0

In [ ]:
#Selecionar Database e Cole√ß√£o
db = client['PROJETO-INDIVIDUAL']
colecao = db.DATA_TREATED
colecao.count_documents({})

2038

In [ ]:
#Executar caso a cole√ß√£o ja esteja cheia com dados errados

colecao.drop()
colecao.count_documents({})

0

In [ ]:
# Copia o DF transformado como dicionario e inseri ele como documentos {JSON} no DB 

df_dict = df.to_dict("records")
colecao.insert_many(df_dict)

In [ ]:
display(df.head(3))
print()

for x in colecao.find()[:3]:
  print(x)

print()
colecao.count_documents({})

,AnoDeNascimento,Escolaridade,EstadoCivil,RendaPorAno,FilhosPequenos,Adolecentes,DataCadastro,VacanciaEmDias,QtdVinhos,QtdFrutas,QtdCarneVermelha,QtdFrutosDoMar,QtdDoces,QtdProdPremium,ComprasComDesconto,ComprasPelaWeb,ComprasPeloCatalogo,ComprasPelaLoja,VisitasWebPorMes,AceitacaoCampanha3,AceitacaoCampanha4,AceitacaoCampanha5,AceitacaoCampanha1,AceitacaoCampanha2,HouveReclamacao,UltimaCampanha,QtdProteinaAnimal,DependentesMenores,QtdTotalProdutos,QtdCampanhasAceitas
0,1977,Mestrado,Uniao Estavel,57954.0,1,1,2014-06-18,52,456,4,24,0,0,9,7,8,2,6,7,0,1,0,0,0,0,0,24,2,493,1
1,1945,PhD,Uniao Estavel,71604.0,0,0,2013-11-17,3,345,53,528,98,75,97,1,8,3,5,4,1,0,0,0,0,0,1,626,0,1196,2
2,1973,Graduacao,Divorciada,71128.0,1,0,2012-10-06,80,958,159,447,20,0,31,3,2,10,12,7,0,0,0,0,0,0,0,467,1,1615,0

{'_id': ObjectId('6310e086dce4b0da0ed6e4d1'), 'AnoDeNascimento': 1977, 'Escolaridade': 'Mestrado', 'EstadoCivil': 'Uniao Estavel', 'RendaPorAno': 57954.0, 'FilhosPequenos': 1, 'Adolecentes': 1, 'DataCadastro': datetime.datetime(2014, 6, 18, 0, 0), 'VacanciaEmDias': 52, 'QtdVinhos': 456, 'QtdFrutas': 4, 'QtdCarneVermelha': 24, 'QtdFrutosDoMar': 0, 'QtdDoces': 0, 'QtdProdPremium': 9, 'ComprasComDesconto': 7, 'ComprasPelaWeb': 8, 'ComprasPeloCatalogo': 2, 'ComprasPelaLoja': 6, 'VisitasWebPorMes': 7, 'AceitacaoCampanha3': 0, 'AceitacaoCampanha4': 1, 'AceitacaoCampanha5': 0, 'AceitacaoCampanha1': 0, 'AceitacaoCampanha2': 0, 'HouveReclamacao': 0, 'UltimaCampanha': 0, 'QtdProteinaAnimal': 24, 'DependentesMenores': 2, 'QtdTotalProdutos': 493, 'QtdCampanhasAceitas': 1}
{'_id': ObjectId('6310e086dce4b0da0ed6e4d2'), 'AnoDeNascimento': 1945, 'Escolaridade': 'PhD', 'EstadoCivil': 'Uniao Estavel', 'RendaPorAno': 71604.0, 'FilhosPequenos': 0, 'Adolecentes': 0, 'DataCadastro': datetime.datetime(2013, 11, 17, 0, 0), 'VacanciaEmDias': 3, 'QtdVinhos': 345, 'QtdFrutas': 53, 'QtdCarneVermelha': 528, 'QtdFrutosDoMar': 98, 'QtdDoces': 75, 'QtdProdPremium': 97, 'ComprasComDesconto': 1, 'ComprasPelaWeb': 8, 'ComprasPeloCatalogo': 3, 'ComprasPelaLoja': 5, 'VisitasWebPorMes': 4, 'AceitacaoCampanha3': 1, 'AceitacaoCampanha4': 0, 'AceitacaoCampanha5': 0, 'AceitacaoCampanha1': 0, 'AceitacaoCampanha2': 0, 'HouveReclamacao': 0, 'UltimaCampanha': 1, 'QtdProteinaAnimal': 626, 'DependentesMenores': 0, 'QtdTotalProdutos': 1196, 'QtdCampanhasAceitas': 2}
{'_id': ObjectId('6310e086dce4b0da0ed6e4d3'), 'AnoDeNascimento': 1973, 'Escolaridade': 'Graduacao', 'EstadoCivil': 'Divorciada', 'RendaPorAno': 71128.0, 'FilhosPequenos': 1, 'Adolecentes': 0, 'DataCadastro': datetime.datetime(2012, 10, 6, 0, 0), 'VacanciaEmDias': 80, 'QtdVinhos': 958, 'QtdFrutas': 159, 'QtdCarneVermelha': 447, 'QtdFrutosDoMar': 20, 'QtdDoces': 0, 'QtdProdPremium': 31, 'ComprasComDesconto': 3, 'ComprasPelaWeb': 2, 'ComprasPeloCatalogo': 10, 'ComprasPelaLoja': 12, 'VisitasWebPorMes': 7, 'AceitacaoCampanha3': 0, 'AceitacaoCampanha4': 0, 'AceitacaoCampanha5': 0, 'AceitacaoCampanha1': 0, 'AceitacaoCampanha2': 0, 'HouveReclamacao': 0, 'UltimaCampanha': 0, 'QtdProteinaAnimal': 467, 'DependentesMenores': 1, 'QtdTotalProdutos': 1615, 'QtdCampanhasAceitas': 0}

2038

In [ ]:
# Salvar o DF tratado para inseri-lo no bucket de dataset tratado
df.to_csv('/content/drive/MyDrive/Datasets/DATA_TREATED.csv', index=False)